<div class="grid-wrapper">
  <div class="grid-title">
    {{ 'supersale.png' | asset_url | img_tag }}
  </div>
</div>

{% comment %} <div class="grid-wrapper-coll">
  <div class="grid-collection">
    {{ 'collection--card-3.png' | asset_url | img_tag }}
    <p class="boots">AWESOME HATS</p>
  </div>
  <div class="grid-collection">
    {{ 'collection--card-2.png' | asset_url | img_tag }}
    <p class="boots">AWESOME BOOTS</p>
  </div>
  <div class="grid-collection">
    {{ 'collection--card-1.png' | asset_url | img_tag }}
    <p class="sunglass">AWESOME SUNGLASS</p>
  </div>
</div> {% endcomment %}

<div class="grid-wrapper-coll">
  <div class="grid-collection">
    {% for collection in collections %}
      {% if collection.image %}
        <img src="{{ collection | img_url: '350x350' }}" alt="{{ collection.image.alt }}" />
      {% endif %}
    {% endfor %}
  </div>
</div>


{% comment %} {% for block in section.blocks limit: section.blocks.size %}
  <div {{ block.shopify_attributes }}>
    {%- assign collection = collections[block.settings.collection] -%}

    <a href="{% if collection == empty %}#{% else %}{{ collection.url }}{% endif %}">
      {% if collection.image != blank %}
        {{ collection | img_url: '480x480' | img_tag: collection.title }}
      {% elsif collection.products.first != blank %}
        {{ collection.products.first | img_url: '480x480' | img_tag: collection.title }}
      {% elsif collection == empty %}
        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
        {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
      {% endif %}

      <p>
        {% if collection == empty %}
          {{ 'homepage.onboarding.collection_title' | t }}
        {% else %}
          {{ collection.title }}
        {% endif %}
      </p>
    </a>
  </div>
{% endfor %}

{% if section.blocks.size == 0 %}
  {% include 'no-blocks' %}
{% endif %} {% endcomment %}


{% schema %}
  {
    "name": "Collection list",
    "max_blocks": 12,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection list",
        "category": "Collection",
        "blocks": [
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}
